<div ng-controller="LoginController">
    <div>
        <h2>Login</h2>
        <hr>
        <label>Username</label>
        <input type="text" name="" ng-model="login.userName" id="" value="" required>
        <br>
        <br>
        <label>Password</label>
        <input type="password" name="" ng-model="login.password" id="" value="" required>
        <br>
        <br>

        <button class="btn btn-success btn-lg"  ng-click="login()">Login</button>
        <button class="btn btn-info btn-lg" ng-click="back()">SignUp</button>
        <br>
        <br>
    
    </div>
    
</div>