<div>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>

<div class="container-fluid" ng-controller="UserHomeController">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Home</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#/userhome">Home</a></li>
        <li><a href="#/profile">Profile</a></li>
        <li><a href="#/editPosts">Edit Posts</a></li>
        <li><a href="#/stats">Stats</a></li>
        <li><a href="#/home">Logout</a></li>
      </ul><br>
    </div>

    <div class="col-sm-9">
      <h4><small>RECENT POSTS</small></h4>
      <hr>
                  <div ng-repeat="post in postData">
                  <h2>{{post.data.title}}</h2>
                  <h5><span class="glyphicon glyphicon-time"></span> Post by {{post.data.userName}}, Jun 18,2018</h5>
                  <!-- <div ng-repeat="tag in post.data.tags"> -->
                    <h5><span class="label label-primary">{{post.data.tags}}</span></h5><br>
                  <!-- </div> -->
                  <p>{{post.data.content}}</p>
                  <br>
                  <!-- <span class="badge">2</span> -->
                  <br>
                  <h4>Leave a Comment:</h4>
                  <form role="form">
                    <div class="form-group">
                      <textarea class="form-control" rows="3" ng-model="post.commentContent" required></textarea>
                    </div>
                    <button type="submit" ng-click="addComment(post)" class="btn btn-success">Submit</button>
                  </form>
                  <br><br>
                  <p> Comments:</p><br>
                  
                  <div class="row">
                        <div ng-repeat="comment in commentData">
                              <div ng-if="post.data.postId == comment.data.postId">
                                  <div class="col-sm-2 text-center">
                                    <img src="../assets/images/avatar1.png" class="img-circle" height="65" width="65" alt="Avatar">
                                  </div>
                                  <div class="col-sm-10">
                                    <h4>{{comment.data.userName}}<small> Jun 18, 2015</small></h4>
                                    <p>{{comment.data.content}}</p>
                                    <br>
                                  </div>
                              </div>
                        </div>
                  </div>
                </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Blog Footer</p>
</footer>

</div>
